.actions {
    grid-area: actions;
    padding: 8px;
    align-self: center;
    white-space: nowrap;
    display: flex;
    flex-wrap: wrap;
    float: right;
}

.dropdown-btn > .ant-dropdown-trigger {
    border: none;
    background-color: transparent;
}

.dropdown-btn > :not(.ant-dropdown-trigger){
    padding: 0px;
    border: none;
    height: 0px;
}

.grid-header {
    background-color: lightgray;
    display: flex;
    padding: 0.5rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}