.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.detailGridcontainer {
    height: 500px;
    display: flex;
    flex-flow: nowrap column;
    overflow: hidden;
    padding: 0.5rem;
}

.container {
    height: 600px;
    display: flex;
    flex-flow: nowrap column;
    overflow: hidden;
}

.body {
    background: gray;
    flex-grow: 3;
    display: flex;
    flex-flow: row nowrap;
}